</div> 
<div id="corner"><img src="./images/corner.gif" alt="A small curved corner piece." /></div>
<div id="top_back"><img src="./images/top_squiggle.gif" alt="Squiggly background image." /></div>
<div id="sidebar">
   <a href="/images"><img src="./images/sidebar_pic.jpg" alt="Link to more images." /><br />More Images</a>
   <br /><br />
   Dave Spoon, Feeding Director<br />
   Office: 360.698.7227<br />
   <a href="mailto:info@readyrelief.org">info@readyrelief.org</a>
   <br /><br />
   Ready Relief<br />
   P.O. Box 3970<br />
   Silverdale, WA 98383</div></div>
<div id="footer">
<a href="/">Home</a> | 
<a href="/program">Program Information</a> | 
<a href="/get-involved">How To Get Involved</a> | 
<a href="/hunger-truth">The Truth About Hunger</a> |
<a href="/images">Images</a>
</div>
</div>
</body>
</html>