<%= erb :top_stuff %>

<div class="title">How to get involved...</div>
<br />
<div class="text">
   Get your school kids involved in their world by hosting a food 
   packaging session with Ready Relief. This is an educational, 
   fun, and hands-on event which will challenge your students, whether 
   done as a school wide project, a friendly competition between a few 
   classes, or an activity for a home/school-core group. 
   <br /><br />
   To prepare your school for disaster with emergency nutrition, schedule 
   a Ready Relief packaging event and become part of the family of schools 
   that are helping feed hungry children around the world.  
   <br /><br />
   The cost of this event is approximately $3 per student.
   <br /><br />
   Contact Ready Relief at 360.698.7227 or email us at 
   <a href="mailto:info@readyrelief.org">info@readyrelief.org</a>
</div>

<%= erb :bottom_stuff %>