<%= erb :top_stuff %>

<div class="title">The truth about hunger...</div>
<br />
<div class="text">
   <span class="myth"><b>Myth #1</b>: Individuals cannot affect the world hunger situation; 
   only governments and very rich and powerful people can make the 
   needed changes.</span>
   <br /><br />
   <i>Fact: One person can feed 200 children for a day for 22 cents 
   per child.</i>
   <br /><br /><br />
   <span class="myth"><b>Myth #2</b>: There isn’t enough food in the world to feed everyone.</span> 
   <br /><br />
   <i>Fact: There is enough food produced worldwide to supply every man, 
   woman and child with 3,000 calories/day, the consumption of the 
   average American. World hunger is a matter of poverty and 
   accessibility, not production.</i>
   <br /><br /><br />
   <span class="myth"><b>Myth #3</b>: Hunger is the result of overpopulation. If people had 
   fewer children, they would not be hungry.</span>
   <br /><br />
   <i>Fact: Actually, the opposte is true: hunger is one of the causes of 
   overpopulation. High birth rates are a symptom of inadequate nutrition, 
   resulting in high child mortality. Sierra Leone, Africa is rated #1 in 
   the world for infant mortality, due in large part to hunger and famine. 
   Poor families need more children to increase the likelihood that some 
   will live, to help the family survive.</i>
   <br /><br /><br />
   <span class="myth"><b>Myth #4</b>: We need to take care of our own hungry and poor in America first, before we try to help others.</span> 
   <br /><br />
   <i>Fact: Our "global economy" means that "their" problems are 
   our problems, and vice versa.  However, we are fortunate that only 7% 
   of the world’s malnourished children live in the U.S.  COTN distributes 
   our food product both outside and within the U.S.</i>
   <br /><br />
</div>

<%= erb :bottom_stuff %>