<%= erb :top_stuff %>

<div class="title">Images of past events...</div>
<br />
<div class="text">
   <center>
   <table border="0" cellspacing="4" cellpadding="0" width="420">
      <tr valign="top">
         <td align="center">
            <a href="./images/1.jpg">
            <img src="./images/t1.jpg" border="1"></a>
         </td>
         <td align="center">
            <a href="./images/2.jpg">
            <img src="./images/t2.jpg" border="1"></a>
         </td>
         <td align="center">
            <a href="./images/3.jpg">
            <img src="./images/t3.jpg" border="1"></a>
         </td>
      </tr>
      <tr valign="top">
         <td align="center">
            <a href="./images/4.jpg">
            <img src="./images/t4.jpg" border="1"></a>
         </td>
         <td align="center">
            <a href="./images/5.jpg">
            <img src="./images/t5.jpg" border="1"></a>
         </td>
         <td align="center">
            <a href="./images/6.jpg">
            <img src="./images/t6.jpg" border="1"></a>
         </td>
      </tr>
      <tr valign="top">
         <td align="center">
            <a href="./images/7.jpg">
            <img src="./images/t7.jpg" border="1"></a>
         </td>
         <td align="center">
            <a href="./images/8.jpg">
            <img src="./images/t8.jpg" border="1"></a>
         </td>
         <td align="center">
            <a href="./images/9.jpg">
            <img src="./images/t9.jpg" border="1"></a>
         </td>
      </tr>
   </table>
   </center>
</div>

<%= erb :bottom_stuff %>