<%= erb :top_stuff %>

<div class="title">Ready today<br /><br />Relief for tomorrow</div>
<br />
<div class="text">
   <img src="./images/home_image.jpg" style="border: 0px none;"/>
   Would your school be ready if a disaster hit your district today?
   <br /><br />
   Would your students have food to survive for three days if trapped
   in the building?
   <br /><br />
   Ready Relief is an easy, inexpensive, and educational way for your
   students to package food for themselves incase of an emergency, and
   feed less fortunate children at the same time. If unused within a
   year, the old food is sent to children overseas while we replenish
   your supply. Your students will have access to food during an
   emergency while giving relief to needy children around the world.
   <br /><br />
   Ready Relief will provide you with the materials needed to make the
   project a success. The cost of this event is approximately $3 per
   student.
   <br /><br />
   Ready Relief is endorsed by the
   <a src="http://www.wastatepta.org/">Washington State PTA</a>.
</div>

<%= erb :bottom_stuff %>