<%= erb :top_stuff %>

<div class="title">Program information...</div>
<br />
<div class="text">
   Disaster often strikes without warning or time for preparation.  
   The results, as we have recently witnessed, can be devastating.  
   The Ready Relief mission is to insure that schools, with all their 
   children and staff, are nutritionally sustained in a healthy and 
   safe manner during a time of unexpected crisis.  We seek to 
   accomplish this mission by providing emergency food that is 
   easily accessible, nutritionally balanced, flavorful, and 
   cost effective.
   <br /><br />
   Ready Relief brings the food packaging operation to your school 
   with ingredients and supplies enough to provide for every student 
   and staff member.  Similar to an assembly line, students come to 
   the set-up food packaging area, usually in a gymnasium or cafeteria, 
   in 30-minute shifts and package their own emergency food using our 
   simple recipe of Lentils, Spice, Chicken, and Rice.  Food packaged 
   at your school is then stored at your school for one year.  
   Ready Relief food is accessible and available for emergency use during 
   that school year.  <i>You are now Ready for Today!</i>
   <br /><br />
   Before leaving your school, the Ready Relief team will schedule 
   another packaging date with you for the following year.  At the time 
   of your second event, if the food from the prior year was not used, 
   it is re-stocked into the COTN truck for shipment overseas to help 
   feed starving children in Africa and the Dominican Republic.  In the 
   meantime, your new students are enjoying their opportunity to package 
   food for their new school year.  The end of this cycle gives your 
   school and your students the opportunity to not only become more civic 
   minded by helping prepare themselves for a disaster, but also globally 
   minded, with a greater awareness of world poverty and hunger.  Their 
   ‘hands-on’ participation will broaden their understanding and increase 
   their compassion capability for the world’s needy children.  You have 
   now provided Relief for Tomorrow!
   <br /><br />
</div>

<%= erb :bottom_stuff %>