<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
   <title>Ready Relief - Relief Today. Relief For Tomorrow.</title>
   <link rel="SHORTCUT ICON" href="./images/favicon.ico" />
   <link href="./css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="wrap">
   <div id="header">
      <div id="banner">
         <img src="./images/main_image.jpg" alt="Ready Relief children eating." />
      </div>   
      <div id="links">
         <a href="/">Home</a><br />
         <a href="/program">Program Information</a><br />
         <a href="/get-involved">How To Get Involved</a><br />
         <a href="/hunger-truth">The Truth About Hunger</a>
      </div>
      <div id="logo">
         <img src="./images/logo.gif" alt="Ready Relief logo." />
      </div>
   </div>
   <div id="red_box">
      <div id="bottom_back"><img src="./images/bottom_squiggle.gif" alt="Squiggly background image." /></div>
      <div id="text_box">